body{
font-family:Arial;
margin:0;
background:#f1f5f9;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#16a34a;
padding:15px;
color:white;
}

.navbar a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
text-align:center;
margin-top:120px;
}

button{
padding:12px 25px;
background:#16a34a;
border:none;
color:white;
border-radius:6px;
font-size:16px;
}
